/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #DCDCDC;
}

main {
    margin-left: 200px; /* Ancho del encabezado vertical */
    padding: 20px;
}

section {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f7f7f7;
}

/* Estilos de encabezado */
.vertical-header {
    position: fixed;
    left: 0;
    top: 0;
    width: 150px; /* Anchura del encabezado vertical */
    height: 100vh;
    background-color: #212529;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.vertical-header nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
}

.vertical-header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1; /* Permite que <ul> crezca proporcionalmente */
}

.vertical-header ul li {
    margin-top: 10px;
    margin-bottom: 20px;
}

/* Estilos para la clase "active" */
.vertical-header ul li.active a {
    color: green;
}

.vertical-header ul li a {
    color: white;
    text-decoration: none;
}

.vertical-header ul li a:hover {
    color: #4682B4	;
}

/* Estilos del logo */
.logo img {
    width: 120px;
    height: auto;
    border: 2px solid #f7f7f7;
    border-radius: 50%;
    
}

.logo {
    order: -1; /* Cambia el orden del logotipo para que aparezca primero */
    margin-right: auto; /* Empuja los elementos de navegación hacia la derecha */
    margin-bottom: 80px; /* Ajusta el espaciado inferior entre el logotipo y los elementos de la lista */
    
}

/* Estructura de diseño de main */

/* Bloque de contenido seletion Superior*/
#superior {
    order: -1; /* Cambia el orden para que aparezca primero */
    height: 15vh; /* Ajusta el tamaño de la parte superior */
}

#superior .carousel-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#superior .carousel-inner img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
/* Bloque de contenido seletion Central*/
#central {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(113vh - 15vh - 5vh - 240px); /* Ajusta el tamaño de la parte central */
}

#central .central-content {
    overflow-y: auto; /* Agrega desplazamiento vertical si el contenido excede el tamaño */
}


/*Bloque de contenido seletion inferior del header*/
#inferior-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 35vh; /* Ajusta el tamaño de la parte inferior */
    margin-top: 10px; /* Ajusta el margen superior según tus necesidades */
    background-color: #212529;
}

/* Botones ubicados en el #inferior-header */
#inferior-header .botones-container {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en varias líneas */
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center; /* Centra los elementos verticalmente */
}

#inferior-header .botones-container a {
    margin: 10px; /* Ajusta el margen entre los botones */
}

#inferior-header .botones-container img {
    width: 40px; /* Ajusta el ancho de los botones */
    height: 40px; /* Ajusta la altura de los botones */
}